//applying this to every element
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box; //to properly fix padding and margin with an element like a box constraint
}

body{
  background-image: linear-gradient(red, yellow,0.254turn);
  background-color: rgb(0, 0, 0);
}

a{
  text-decoration: none;
  color: rgb(255, 0, 0);
}


li{
  list-style: none;
}